<div class="tab-content">
  <form [formGroup]="rangeForm" (ngSubmit)="onSubmit()" class="form-row">
    <mat-form-field appearance="fill" class="form-col">
      <mat-label>Start Range Number</mat-label>
      <input matInput type="number" formControlName="startRange" placeholder="Enter start range number" />
      <mat-error *ngIf="rangeForm.get('startRange')?.hasError('required') && rangeForm.get('startRange')?.touched">
        Start range is required.
      </mat-error>
      <mat-error *ngIf="rangeForm.get('startRange')?.hasError('min') && rangeForm.get('startRange')?.touched">
        Start range must be 0 or greater.
      </mat-error>
      <mat-error
        *ngIf="rangeForm.get('startRange')?.hasError('startGreaterThanEnd') && rangeForm.get('startRange')?.touched">
        Start range cannot be greater than end range.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-col">
      <mat-label>End Range Number</mat-label>
      <input matInput type="number" formControlName="endRange" placeholder="Enter end range number" />
      <mat-error *ngIf="rangeForm.get('endRange')?.hasError('required') && rangeForm.get('endRange')?.touched">
        End range is required.
      </mat-error>
      <mat-error *ngIf="rangeForm.get('endRange')?.hasError('min') && rangeForm.get('endRange')?.touched">
        End range cannot be negative.
      </mat-error>
      <mat-error
        *ngIf="rangeForm.get('endRange')?.hasError('endSmallerThanStart') && rangeForm.get('endRange')?.touched">
        End range cannot be smaller than start range.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-col">
      <mat-label>Total Gifts</mat-label>
      <input matInput type="number" formControlName="totalGifts" placeholder="Enter total gifts" />
      <mat-error *ngIf="rangeForm.get('totalGifts')?.hasError('required') && rangeForm.get('totalGifts')?.touched">
        Total gifts is required.
      </mat-error>
      <mat-error *ngIf="rangeForm.get('totalGifts')?.hasError('min') && rangeForm.get('totalGifts')?.touched">
        Total gifts cannot be negative.
      </mat-error>
      <mat-error
        *ngIf="rangeForm.get('totalGifts')?.hasError('giftsGreaterThanEnd') && rangeForm.get('totalGifts')?.touched">
        Total gifts cannot be greater than end range.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="rangeForm.invalid"
      class="form-btn">Submit</button>


  </form>
</div>

<div *ngIf="showGiftAnimation" class="gift-animation-overlay">
  <div class="gift-animation-center">
    <div class="gift-box">
      <div class="gift-lid"></div>
      <div class="gift-body"></div>
      <div class="gift-ribbon"></div>
      <div class="gift-explosion"></div>
      <mat-icon class="gift-icon" fontIcon="card_giftcard"></mat-icon>
    </div>
  </div>
</div>
<div *ngIf="resultTable.length > 0" class="result-table-wrapper">
  <div class="csv-btn-row">
    <button mat-raised-button color="accent" class="export-csv-btn" (click)="exportToCSV()">
      <i class="fas fa-file-csv"></i>
      Export to CSV
    </button>
  </div>
  <table mat-table [dataSource]="resultTable" class="mat-elevation-z8 result-table">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let row">{{row.index}}</td>
    </ng-container>
    <ng-container matColumnDef="selectedNumber">
      <th mat-header-cell *matHeaderCellDef>Selected Number</th>
      <td mat-cell *matCellDef="let row">{{row.selectedNumber}}</td>
    </ng-container>
    <ng-container matColumnDef="giftNumber">
      <th mat-header-cell *matHeaderCellDef>Gift Number</th>
      <td mat-cell *matCellDef="let row">{{row.giftNumber}}</td>
    </ng-container>
    <ng-container matColumnDef="parentName">
      <th mat-header-cell *matHeaderCellDef>Parent Name</th>
      <td mat-cell *matCellDef="let row">{{row.parentName || '-'}} </td>
    </ng-container>
    <ng-container matColumnDef="giftName">
      <th mat-header-cell *matHeaderCellDef>Gift Name</th>
      <td mat-cell *matCellDef="let row">{{row.giftName || '-'}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
